body {
  font-family: "Fjalla One", sans-serif;
}

.toast {
  position: fixed;
  top: 65px;
  right: 10px;
}

.navItem {
  color: rgba(255, 255, 255, 0.5);
}
.navItem:hover {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
}
.discontinued {
  opacity: .5;
}
#product_rows tr {
  cursor: pointer;
}